$font-main: Calibri, sans-serif;
$font_Trebuchet: "Trebuchet MS", sans-serif;
$margin-main-side: 8%;
$color-white: white;
$color-bg_call: #1d7373;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$center-align: center;

.header {
  background-color: #33cccc;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding-top: 10px;
}

button:hover{
  opacity: .7;
  cursor: pointer;
}

.container {
  display: flex;
  margin: 0 $margin-main-side;
}

.logo{
  display: flex;
  align-items: $center-align;
  margin: 0;
}

.name_logo{
  font-family: $font-main;
  font-weight: bold;
  font-size: 18px;
  color: $color-white;
  text-align: left;
  width: 140px;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  margin-left: 10px;
}

.logo img{
  height: 45px;
}

.nav {
  margin-left: auto;

}
.nav__tel {
  text-align: right;
}

.nav__a{
  text-decoration: none;
  color: $color-white;
  font-size: $fs-16;
  font-family: Tahoma;
  font-weight: bold;
}

.nav__a::before{
  content: url(../img/phone-square.png);
  margin-right: 10px;
}
.menu{
  .menu__list {
    padding-inline-start: 0;
    display: flex;
    box-sizing: border-box;
  }
  a{
    text-decoration: none;
    font-family: $font-main;
    font-size: $fs-16;
    color: #494848;
    padding-left: 15px;
  }
  .menu__item{
    list-style-type: none;
  }
  .menu__main{
    color: $color-white;
  }
  .menu__arrow::after{
    content: "↓";
  }
}

.banner_bg {
  background: rgba(102,163,210,1);
  background: -moz-linear-gradient(left, rgba(102,163,210,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,163,210,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(left, rgba(102,163,210,1) 0%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(left, rgba(102,163,210,1) 0%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(left, rgba(102,163,210,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to right, rgba(102,163,210,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66a3d2', endColorstr='#ffffff', GradientType=1 );
  padding-top: 75px;
}

.banner {
  height: 480px;
  position: relative;
  margin: 0 $margin-main-side;
}

.banner__logo {
  height: 480px;
  width: 740px;
  float: left;
}

.banner__text {
  position: absolute;
  text-align: right;
  top: 100px;
  right: 0;
  font-family: $font-main;
  font-size: 18px;
  color: #494848;
  line-height: 1.2em;
  letter-spacing: 0.05em;
  width: 730px;
}

.banner__big-text {
  font-family: $font_Trebuchet;
  font-size: 24px;
  text-align: right;
  line-height: 1em;
  padding-top: 280px;
  margin-bottom: 60px;
}

.banner__form{
  display: flex;
  justify-content: flex-end;
}

.form-input, .form-button{
  border-radius: 3px;
  font-size: $fs-16;
  padding: 8px;
}
.form-input{
  width: 150px;
  border: 0;
}
.form-button{
  border:$color-bg_call;
  background-color:$color-bg_call;
}

.advantages {
  margin: 0 $margin-main-side;
  display: flex;
  text-align: $center-align;
  font-family: $font_Trebuchet;
  color: $color-white;
  margin-bottom: 25px;
}
.advantages__text{
  font-size: $fs-12;
  line-height: 1.8em;
  text-align: $center-align;
}

.advantages__block{
  box-sizing: content-box;
  padding: 45px;

}
.advantages__icon{
  width: 55px;
  height: 55px;
  background: url("../img/icons.png") no-repeat center;
  margin-left: 90px;
  border-radius: 50%;
  background-color: $color-white;
  padding: 5px;
}
.treat{
  background-color: $color-bg_call;
}
.treat .advantages__icon{
  background-position: 15px 8px;
}
.help {
  background-color: #009999;
}
.help .advantages__icon{
  background-position: 10px -45px;
}
.staff {
  background-color: #33cccc;
}
.staff .advantages__icon{
  background-position: 12px -105px;
}
.doc {
  background-color: #5ccccc;
}
.doc .advantages__icon{
  background-position: 13px -162px
}
.clinics{
  margin: 0 $margin-main-side;
  font-family: $font-main;
  margin-bottom: 70px;
}

.tab-content {
  border: 2px solid #e2e6e8;
  border-radius: 5px;
  /*border-top: 0;*/
  padding: 45px 15px 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.tabs {
  width: 100%;
  padding-right: 10px;
  padding-top: 10px;
  margin: 0 auto;
}

.tabs__input {
  display: none;
}
/*.tabs div {
  display: none;
  padding: 12px;
  border: 2px solid #e2e6e8;
}*/
.tabs__name {
  display: inline-block;
  padding: 10px;
  text-align: $center-align;
  color: #00af64;

}
.tabs input:checked + label {
  color: #4d7f6a;
  border: 2px solid #e2e6e8;
  border-bottom: 0;
  border-radius: 5px;

}
#tab_1:checked ~ .tab-content{
  display: block;
}

.clinic {
  border: 2px solid #43b1d2;
  padding: 10px 15px;
  width: 565px;
  margin-bottom: 25px;
}
.clinic__logo{
  float: left;

}
.clinic__logo-name h3, p{
  text-align: right;
  margin: 0;
}
.clinic__logo-name h3{
  color: #36d792;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
}
.clinic__logo-name p{
  color: #92cde2;
  font-size: $fs-12;
  font-style: italic;
}
.clinic__text{
  text-align: left;
  padding-top: 35px;
  padding-bottom: 15px;
  font-size: $fs-16;
}
.clinic__call{
  display: flex;
  justify-content: space-between;
}
.clinic__number{
  font-weight: bold;
  align-self: $center-align;
}
.button{
  background-color: #ff9640;
  color: $color-white;
  border: 0;
  border-radius: 5px;
  padding: 10px;
}
.clinics__button{
  background-color: #ff7400;
  color: $color-white;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin: 25px 550px;
}
.interesting-bg{
  background-color: #b0ebd1;
}
.article-reviews{
  margin: 0 $margin-main-side;
  display: flex;
  padding: 10px 15px;
  h3{
    font-size: 30px;
    font-family: $font-main;
    font-style: italic;
    color: #494848;
    font-weight: normal;
    margin: 15px 0;
    padding-bottom: 10px;
  }
}

.article__main{
  width: 700px;
  display: flex;
}
.article__logo{
  width: 340px;
  height: 220px;

}
.article-reviews__text{
  font-size: 15px;
  font-family: $font-main;
  text-align: left;
  padding-left: 40px;
  align-self: $center-align;
  line-height: .9em;
}
.leaf{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
}
.leaf__arrows{
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-self: $center-align;
}
.left, .right{
  background-color:  #cbd4e6;
  width: 40px;
  height: 30px;
  text-align: $center-align;
  line-height: 35px;
  margin-left: 15px;

}
.reviews{
  width: 350px;
  margin-left: 100px;
}
.reviews__text{
  padding: 0;
}
.reviews__arrows{
  margin-left: 250px;
  margin-top: 40px;
}
.recall{
  background-color: #3f92d2;
}
.recall_position{
  margin: 0 $margin-main-side;
  display: flex;
  justify-content: space-between;
  padding: 35px 15px;
}

.form-input{
  width: 150px;
  border: 0;
}
.form-button{
  border: $color-bg_call;
  background-color:$color-bg_call;
}
.order-call{
  align-self: $center-align;
  color: $color-white;
  font-size: 22px;
  font-family: $font-main;
  font-weight: bold;
  margin-right: 10px;
  letter-spacing: 1.2px;
}
.order-form, .logo{
  align-self: $center-align;
}
.order-form{
  display: flex;
  justify-content: flex-end;
}
.links{
  height: 420px;
  background-color: #7fcccc;
  padding: 80px 14%;
  display: flex;
  justify-content: space-between;
  color: #5b9595;
  font-size: $fs-14;
  font-family: $font_Trebuchet;
}
.links h4{
  color: black;
  font-size: 18px;
  padding-bottom: 45px;
}
.links a{
  text-decoration: none;
  color: #5b9595;
  font-size: $fs-14;
  font-family: $font_Trebuchet;
}
.links__contacts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.links__icon{
  width: 40px;
  height: 40px;
  background: url("../img/Icons_links.png") no-repeat center;
  float: left;
}
.email .links__icon {
  background-position: 0px 4px;
  margin-right: 30px;
}
.tel .links__icon{
  background-position: 0px -37px;
  margin-right: 30px;
}
.address .links__icon{
  background-position: 0px -83px;
  margin-right: 30px;
}
.address-text{
  margin: 0;
  text-align: left;
  width: 250px;
}
.links__networks{
  width: 250px;
}
.networks__icon{
  display: inline-block;
  width: 40px;
  height: 33px;
  background: url("../img/networks_icons.png") no-repeat;
}
.facebook{
  background-position: 0px 0px;
}
.google{
  background-position: 0px -36px;
}
.vk{
  background-position: 0px -68px;
}
.youtube{
  background-position: 0px -100px;
}
.linkedin{
  background-position: 0px -138px;
}
.links ul{
  padding-inline-start: 0;
}
.links li{
  list-style-type: none;
  padding-bottom: 20px;
}
.links li:before{
  content: '►';
  color: #0087be;
  padding-right: 15px;
}
.submit__form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.submit__form input{
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #9bc8c8;
  background-color: #7fcccc;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.form__button{
  width: 100px;
  background-color: #ff9640;
  border-style: none;
  color: $color-white;
  border-radius: 30px;
  text-align: $center-align;
  padding: 5px;
  font-weight: bold;
  font-size: $fs-12;
}
.footer {
  background-color: #33cccc;
  height: 100px;
  .footer_text{
    padding-top: 45px;
    color: $color-white;
    font-size: $fs-12;
    font-family: $font_Trebuchet;
    text-align: $center-align;
    margin: 0 $margin-main-side;
  }
}
